* {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
    overflow: hidden;
}

.gameContainer {
    background-image: url(https://wallpapers.com/images/hd/cartoon-forest-background-2000-x-1111-dxfydhe4ndu210c4.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.Deer {
    background-image: url(assests/baby\ deer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 52px;
    animation: DeerJump 1s linear; /* Added jump animation */
}

.Cheetah {
    width: 166px;
    height: 113px;
    background-image: url(assests/depositphotos_494581100-stock-illustration-animal-character-funny-cheetah-cartoon-fotor-bg-remover-2023110592021.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
    animation: CheetahAni 5s linear infinite; /* Added animation for cheetah */
}

.gameOver {
    position: relative;
    top: 63px;
    font-size: 53px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#scoreCont {
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

@keyframes DeerJump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 422px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes CheetahAni {
    0% {
        left: 100vw;
    }
    100% {
        left: -10vw;
    }
}
