@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Irish+Grover&family=Poppins:wght@300&family=Roboto&family=Tilt+Prism&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://s3-alpha-sig.figma.com/img/14c8/9850/42ee166811a2972aec1c9b8d97c550b3?Expires=1699833600&Signature=Kd-QQBPKJusZh2U339-k1QVqf3iybbdG2oS-COwSP0a84~5wKIR~TMB4zvdl6pHVFq5MLRipDqTKhR3U742SN1rdnZ9CzGAU8x9PN6-qQpSNcWpW33W9~Kingm1uLj01VlrZm9iJea5an67Zvw14BC-eFDhPyK-F5wGkh5Hv3lHDEWFXKmthAtYowDh0dfQU5yGU7Y7WAJrJSUqt2-x8NrJ6-6u~wLuz4l8lFMNEqRGasamScDLz86Bks2Iuc-24~8UHthSPXBBqaI1cDVN7sMQZEIHuJyrnaepPjS3T1bR1opjajcUwNno0ktRzZBv0-MatcNuzX1MsptYX9von0Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: 100%;

    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.LEADERBOARD img{
    width: 350px;

}
.LEADERBOARD{
    margin-left: 60%;
}
.LEADERBOARD .details{
margin-top: -45%;
margin-left: 25%;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    width: 130px;
}
input{
    background-color: #2A6338;
    border-style: none;
    border-radius: 10px;
    color: white;
    height: 30px;
}
.LEADERBOARD h3{
    margin-top: -15%;
    margin-left: 11%;
}


.playbtn {
    display: flex;
    align-items: center;
    border: 1px solid none;
    width: 100px;
    position: relative;
    margin-left: 75%;
    margin-top: 21%;
    color: white;
}

a {
    text-decoration: none;
}

.instruction {
    /* border: 1px solid black; */
    margin-left: 15%;
    color: white;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    /* transform: rotate(200.534deg); */

}
@media screen and (max-width: 600px) and (max-height: 100vh) {
    background-image{
        transform: rotate(-90deg);
    }
    .details{
        display: none;
    }
    .LEADERBOARD{
        display: none;
    }
    .tigerimage img{
        margin-top: 19%;
        margin-left: 23%;
    }
    .playbtn {
        display: flex;
        align-items: center;
        border: 1px solid none;
        width: 100px;
        position: relative;
        margin-left: 75%;
        margin-top: 3%;
        color: white;
        font-size: 10px;
    }
    svg{
        width: 30px;

    }
    .instruction{
        font-size: 20px;
        margin-top: -2%;
    }
}